## Task #0

Дан одномерный массив числовых значений, насчитывающий N элементов. Исключить из массива элементы, принадлежащие промежутку [1; 3].

Input: 
`[0, 1, 6, 10, 100, 300]`

Output:
`[0, 10, 100, 300]`

In [83]:
a = [0, 1, 6, 10, 100, 300]
res = [a[i] for i in range (len(a)) if a[i] < 1 or a[i] > 6]
res

[0, 10, 100, 300]

## Task #1

Дан одномерный массив числовых значений, насчитывающий N элементов. Подсчитать количество чисел, делящихся на 3 нацело, и среднее арифметическое чисел с чётными значениями. Поставить полученные величины на первое и последнее места в массиве (увеличив массив на 2 элемента).

Input: 
`[0, -3, 2, 4]`

Output:
`[1, 0, -3, 2, 4, 2]`

In [84]:
a = [0, -3, 2, 4]
c0 = 0 # %3 == 0
c1 = 0 # %2 == 0
c2 = 0 #mean
for i in range (len(a)):
    if a[i] % 3 == 0 and a[i] != 0:
        c0 += 1
    if a[i] % 2 == 0:
        c1 += 1
        c2 += a[i]
c2 /= c1
a.insert(0, c0)
a.insert(len(a), int(c2))
a

[1, 0, -3, 2, 4, 2]

## Task #2

Дан одномерный массив числовых значений, насчитывающий N элементов. Добавить столько элементов, чтобы элементов с положительными и отрицательными значениями стало бы поровну.

Input: 
`[0, 8, -3, 2, 4 -1, 13, 24, 19]`

Output:
`[0, -1, 8, -3, 2, -1, 4, -1, 13, -1, 24, -1, 19]`

In [85]:
a = [0, 8, -3, 2, 4 -1, 13, 24, 19]
otr = 0
pol = 0
for i in range (len(a)):
    if a[i] > 0:
        pol += 1
    elif a[i] < 0:
        otr += 1
if pol > otr:
    for i in range (pol - otr):
        a.append(-i-1)
elif pol < otr:
    for i in range (- pol + otr):
        a.append(i+1)
a

[0, 8, -3, 2, 3, 13, 24, 19, -1, -2, -3, -4, -5]

## Task 3

How to remove stop words in a text?

In [86]:
stop_words = ["i", "me", "my", "myself", "we", "our", "ours", "ourselves", "you", "your", "yours", "yourself", "yourselves", "he", "him", "his", "himself", "she", "her", "hers", "herself", "it", "its", "itself", "they", "them", "their", "theirs", "themselves", "what", "which", "who", "whom", "this", "that", "these", "those", "am", "is", "are", "was", "were", "be", "been", "being", "have", "has", "had", "having", "do", "does", "did", "doing", "a", "an", "the", "and", "but", "if", "or", "because", "as", "until", "while", "of", "at", "by", "for", "with", "about", "against", "between", "into", "through", "during", "before", "after", "above", "below", "to", "from", "up", "down", "in", "out", "on", "off", "over", "under", "again", "further", "then", "once", "here", "there", "when", "where", "why", "how", "all", "any", "both", "each", "few", "more", "most", "other", "some", "such", "no", "nor", "not", "only", "own", "same", "so", "than", "too", "very", "s", "t", "can", "will", "just", "don", "should", "now"]
text = """the outbreak of coronavirus disease 2019 ( COVID - 19 ) has created a global health crisis that has had a deep impact on the way we perceive our world and our everyday lives . Not only the rate of contagion and patterns of transmission threatens our sense of agency , but the safety measures put in place to contain the spread of the virus also require social distancing by refraining from doing what is inherently human , which is to find solace in the company of others . Within this context of physical threat , social and physical distancing , as well as public alarm , what has been ( and can be ) the role of the different mass media channels in our lives on individual , social and societal levels ? Mass media have long been recognized as powerful forces shaping how we experience the world and ourselves . This recognition is accompanied by a growing volume of research , that closely follows the footsteps of technological transformations ( e . g . radio , movies , television , the internet , mobiles ) and the zeitgeist ( e . g . cold war , 9 / 11 , climate change ) in an attempt to map mass media major impacts on how we perceive ourselves , both as individuals and citizens . Are media ( broadcast and digital ) still able to convey a sense of unity reaching large audiences , or are messages lost in the noisy crowd of mass self - communication ?"""

In [87]:
text_s = text.split(' ')
text_new = [word for word in text_s if word not in stop_words]
text_new
res = ''
for i in range (len(text_new)):
    res += str(text_new[i])
    res += ' '
res

'outbreak coronavirus disease 2019 ( COVID - 19 ) created global health crisis deep impact way perceive world everyday lives . Not rate contagion patterns transmission threatens sense agency , safety measures put place contain spread virus also require social distancing refraining inherently human , find solace company others . Within context physical threat , social physical distancing , well public alarm , ( ) role different mass media channels lives individual , social societal levels ? Mass media long recognized powerful forces shaping experience world . This recognition accompanied growing volume research , closely follows footsteps technological transformations ( e . g . radio , movies , television , internet , mobiles ) zeitgeist ( e . g . cold war , 9 / 11 , climate change ) attempt map mass media major impacts perceive , individuals citizens . Are media ( broadcast digital ) still able convey sense unity reaching large audiences , messages lost noisy crowd mass self - communication ? '

## Task 4

How to extract usernames from emails ?

In [88]:
text = "The new registrations are potter709@gmail.com , elixir101@gmail.com . If you find any disruptions , kindly contact granger111@gamil.com or severus77@gamil.com "

In [89]:
text_s = text.split(' ')
text_new = [word for word in text_s if '@' in word]
for i in range (len(text_new)):
    text_new[i] = text_new[i].split('@')[0]
       
text_new

['potter709', 'elixir101', 'granger111', 'severus77']


# Цикл `For`

Цикл `for`, также называемый циклом с параметром, в языке Питон богат возможностями. В цикле `for` указывается переменная и множество значений, по которому будет пробегать переменная. Множество значений может быть задано списком, кортежем, строкой или диапазоном.

Вот простейший пример использования цикла, где в качестве множества значений используется кортеж

In [90]:
i = 1
for color in 'red', 'orange', 'yellow', 'green', 'cyan', 'blue', 'violet':
    print('#', i, ' color of rainbow is ', color, sep = '')
    i += 1

#1 color of rainbow is red
#2 color of rainbow is orange
#3 color of rainbow is yellow
#4 color of rainbow is green
#5 color of rainbow is cyan
#6 color of rainbow is blue
#7 color of rainbow is violet

В этом примере переменная `color` последовательно принимает значения `'red'`, `'orange'` и т.д. В теле цикла выводится сообщение, которое содержит название цвета, то есть значение переменной color, а также номер итерации цикла  число, которое сначала равно `1`, а потом увеличивается на один (инструкцией `i += 1` с каждым проходом цикла.

Инструкция `i += 1` эквивалентна конструкции `i = i + 1` (это просто сокращенная запись). Такую сокращенную запись можно использовать для всех арифметических операций: `*=`, `-=`, `/=`, `%=`...

В списке значений могут быть выражения различных типов, например:

In [91]:
for i in 1, 2, 3, 'one', 'two', 'three':
    print(i)

1
2
3
one
two
three

# Функция `range`

Как правило, циклы `for` используются либо для повторения какой-либо последовательности действий заданное число раз, либо для изменения значения переменной в цикле от некоторого начального значения до некоторого конечного.

Для повторения цикла некоторое заданное число раз `n` можно использовать цикл `for` вместе с функцией `range`:

In [92]:
for i in range(4):  # равносильно инструкции for i in 0, 1, 2, 3:
    # здесь можно выполнять циклические действия
    print(i)
    print(i ** 2)
# цикл закончился, поскольку закончился блок с отступом
print('Конец цикла')

0
0
1
1
2
4
3
9
Конец цикла

В качестве `n` может использоваться числовая константа, переменная или произвольное арифметическое выражение (например, `2 ** 10`). Если значение `n` равно нулю или отрицательное, то тело цикла не выполнится ни разу.

Функция `range` может также принимать не один, а два параметра. Вызов `range(a, b)` означает, что индексная переменная будеть принимать значения от a до `b - 1`, то есть первый параметр функции `range`, вызываемой с двумя параметрами, задает начальное значение индексной переменной, а второй параметр — первое значение, которое индексная переменная принимать не будет. Если же `a≥b`, то цикл не будет выполнен ни разу. Например, для того, чтобы просуммировать значения чисел от `1` до `n` можно воспользоваться следующей программой:

In [93]:
sum = 0
n = 5
for i in range(1, n + 1):
    sum += i
print(sum)

15

В этом примере переменная `i` принимает значения `1, 2, ..., n`, и значение переменной sum последовательно увеличивается на указанные значения.

Наконец, чтобы организовать цикл, в котором индексная переменная будет уменьшаться, необходимо использовать функцию `range` с тремя параметрами. Первый параметр задает начальное значение индексной переменной, второй параметр — значение, до которого будет изменяться индексная переменная (не включая его!), а третий параметр — величину изменения индексной переменной. Например, сделать цикл по всем нечетным числам от `1` до `99` можно при помощи функции `range(1, 100, 2)`, а сделать цикл по всем числам от `100` до `1` можно при помощи `range(100, 0, -1)`.

Более формально, цикл for i in `range(a, b, d)` при `d > 0` задает значения индексной переменной `i = a`, `i = a + d`, `i = a + 2 * d` и так для всех значений, для которых `i < b`. Если же `d < 0`, то переменная цикла принимает все значения `i > b`.

## Task #5.0

Write a program to print the following number pattern using a loop.

`
1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5`

In [180]:
for i in range (1, 6):
    for j in range (1, 6):
        if i >= j:
            print(j, end = ' ')

1 1 2 1 2 3 1 2 3 4 1 2 3 4 5

## Task #5.1

Write a program to use for loop to print the following reverse number pattern


`
5 4 3 2 1 
4 3 2 1 
3 2 1 
2 1 
1`

In [185]:
for i in range (5, 0, -1):
    for j in range (5, 0, -1):
        if i >= j:
            print(j, end = ' ')

5 4 3 2 1 4 3 2 1 3 2 1 2 1 1

## Task #6

Can you you create a list from 1300 to 700 with descending steps of 100? Is your stop value included in the list?

In [187]:
for i in range (1300, 699, -100):
      print(i, end = ' ')

1300 1200 1100 1000 900 800 700

# Множества (set)

Мы уже знаем списки и кортежи - упорядоченные структуры, которые могут хранить в себе объекты любых типов, к которым мы можем обратиться по индексу. Теперь поговорим о стуктурах неупорядоченных - множествах и словарях. 

Множества хранят некоторое количество объектов, но, в отличие от списка, один объект может храниться в множестве не более одного раза. Кроме того, порядок элементов множества произволен, им нельзя управлять.

Тип называется set, это же является конструктором типа, т.е. в функцию set можно передать произвольную последовательность, и из этой последовательности будет построено множество:

In [94]:
x = set()
type(x)

set

In [95]:
x = (4, 5, 6)
print(set(x)) # передаем список

{4, 5, 6}

In [96]:
set(range(10))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [97]:
print(set()) # передаем tuple
print(set(range(10)))
print(set()) # пустое множество

set()
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
set()


Другой способ создать множество - это перечислить его элементы в фигурных скобках (список - в квадратных, кортеж в круглых, а множество - в фигурных)

In [98]:
primes = {2, 3, 5, 7}
animals = {"cat", "dog", "horse", 'cat'}

print(primes)
print(animals)

{2, 3, 5, 7}
{'horse', 'cat', 'dog'}

In [99]:
x = [1,2,3,2,2,2,2,2,2,2,'dog',1]
print(set(x))

{1, 2, 3, 'dog'}

Кстати, обратите внимание, что множество может состоять только из уникальных объектов. Выше множество animals включает в себя только одну кошку несмотря на то, что в конструктор мы передали 'cat' два раза. Преобразовать в список в множество - самый простой способ узнать количество уникальных объектов.

Со множествами работает почти всё, что работает с последовательностями (но не работают индексы, потому что элементы не хранятся упорядоченно).

In [100]:
print(len(primes))

4

In [101]:
primes = {1,11,22,34,5}
11 in primes

True

In [102]:
animals = {"cat", "dog", "horse", 'cat'}
"cow" in animals

False

In [103]:
 # длина
print(11 in primes) # проверка на наличие элемента in хорошо и быстро работает для множеств
print("cow" in animals)

True
False

Все возможные операции с множествами: https://docs.python.org/3/library/stdtypes.html#set-types-set-frozenset

Отдельно мы посмотрим на так называемые операции над множествами. Если вы знаете круги Эйлера, то помните как различают объекты множеств - пересечение, объекты, которые принадлежат множеству а, но не принадлежат b и так далее. Давайте посмотрим, как эти операции реализовани в питоне.

### круги Эйлера

На полке стояло 26 волшебных книг по заклинаниям, все они были прочитаны. Из них 4 прочитал и Гарри Поттер, и Рон. Гермиона прочитала 7 книг, которых не читали ни Гарри Поттер, ни Рон, и две книги, которые читал Гарри Поттер. Всего Гарри Поттер прочитал 11 книг. Сколько книг прочитал только Рон?

In [104]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}
c = {2, 3}

In [105]:
print(c <= a)

True

In [106]:
print(c >= a)

False

In [107]:
print(a | b)

{1, 2, 3, 4, 5, 6}

In [108]:
a.intersection(b)

{3, 4}

In [109]:
a.union(b)

{1, 2, 3, 4, 5, 6}

In [110]:
a^b

{1, 2, 5, 6}

In [111]:
b.difference(a)

{5, 6}

In [112]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}
c = {2, 3}

 # проверка на подмножество (с подномжество a)
print(c <= b) # не подмножество, т.к. в b нет 2 
print(a >= c) 
print(a | b) # объединение a.union(b) aka a+b
print(a & b) # пересечение a.intersection(b)
print(a - b) # разность множеств (все что в a, кроме b) a.difference(b)
print(a ^ b) # симметрическая разность множеств (объединение без пересечения) 

c = a.copy() # копирование множества, или set(a)
print(c)

False
True
{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}
{1, 2, 5, 6}
{1, 2, 3, 4}

## Task #7

Write a Python program to find the elements in a given set that are not in another set.

In [192]:
a = {"cat", "dog", "horse", 'fish', 'rat'}
b = {'cat', 'vika','window'}

print(b - a)

{'window', 'vika'}

## Task 8

Write a Python program to remove the intersection of a 2nd set from the 1st set.

In [113]:
a = {1, 2, 3, 4}
c = a.copy()
c

{1, 2, 3, 4}

In [114]:
print(c.issubset(a)) # c <= a 
print(c.isdisjoint(a)) # a и c не пересекаются?
print(a.issuperset(c)) # a включает в себя с как подмножество

True
False
True

In [115]:
s = {1,2,3}
s

{1, 2, 3}

In [116]:
s.add(10)
s

{1, 2, 3, 10}

In [117]:
s.add(10)
s

{1, 2, 3, 10}

In [118]:
s.discard(500)
s

{1, 2, 3, 10}

In [119]:
x = s.pop()
print(s)
print(x)

{1, 2, 3}
10

In [120]:
s

{1, 2, 3}

In [121]:
s.clear()
s

set()

Предыдущие операции не меняли множества, создавали новые. А как менять множество:

In [122]:
s = {1, 2, 3}
s.add(10) # добавить
print(s) # обратите внимание, что порядок элементов непредсказуем
s.remove(1) # удаление элемента
s.discard(1) # аналогично, но не будет ошибки, если вдруг такого элемента нет в множестве
print(s)
x = s.pop() # удаляет и возвращает один произвольный элемент множества (можем сохранить его в переменную)
print(s)
print(x)
s.clear() # очистить
print(s)

{10, 1, 2, 3}
{10, 2, 3}
{2, 3}
10
set()

In [123]:
s = {1, 2}
# s |= {10, 20}
s = s|{10, 20}
s

{1, 2, 10, 20}

Как мы сокращали арифметические операции раньше (например, +=), так же можно сокращать операции над множествами.

In [124]:
s |= {10, 20} # s = s | {10, 20} # объединение множества s с {10,20}
print(s)
# s ^=, s &= и т.п.

{1, 2, 20, 10}

# Словари (dict)
Обычный массив (в питоне это список) можно понимать как функцию, которая сопоставляет начальному отрезку натурального ряда какие-то значения.

Давайте посмотрим на списки непривычным способом. Списки - это функции (отображения), которые отображают начальный ряд натуральных чисел в объекты (проще говоря - преводят число 0,1,2,3... во что-то):

In [125]:
l = [10, 20, 30, 'a']
print(l[0])
print(l[1])
print(l[2])
print(l[3])

10
20
30
a

В словарях отображать можно не только начала натурального ряда, а произвольные объекты. Представьте себе настоящий словарь или телефонную книжку. Имени человека соответствует номер телефона.

Классическое использование словарей в анализе данных: хранить частоту слова в тексте.

кот $\rightarrow$ 10

и $\rightarrow$ 100

Тейлора $\rightarrow$ 2

Словарь состоит из набора ключей и соответствующих им значений. Значения могут быть любыми объектами (также как и в списке, хранить можно произвольные объекты). А ключи могут быть почти любыми объектами, но только неизменяемыми. В частности числами, строками, кортежами. Список или множество не могут быть ключом.

Одному ключу соответствует ровно одно значение. Но одно и то же значение, в принципе, можно сопоставить разным ключам.

In [126]:
a = dict()
type(a)

dict

In [127]:
a['chapter1'] = 'ghfdlksgrjkasgdjkagrdjksargs'
a

{'chapter1': 'ghfdlksgrjkasgdjkagrdjksargs'}

In [128]:
a[1] = 'hrjegrejk'

In [129]:
x = (3,4,5)
a[x] = 'hrjekwslerw'

In [130]:
x = (1,2,3,'str')
a[x] = 'fuidaslt'

In [131]:
a

{'chapter1': 'ghfdlksgrjkasgdjkagrdjksargs',
 1: 'hrjegrejk',
 (3, 4, 5): 'hrjekwslerw',
 (1, 2, 3, 'str'): 'fuidaslt'}

In [132]:
a = dict()
a[(2,3)] = [2,3] # кортеж может быть ключом, потому что он неизменямый
a

{(2, 3): [2, 3]}

### Создание словаря
В фигурных скобках (как множество), через двоеточие ключ:значение

In [133]:
d = dict()
d

{}

In [134]:
d1 = {"кот": 10, "и": 100, "Тейлора": 2}
print(d1)

{'кот': 10, 'и': 100, 'Тейлора': 2}

In [135]:
d1["кот"]

10

Через функцию dict(). Обратите внимание, что тогда ключ-значение задаются не через двоеточие, а через знак присваивания. А строковые ключи пишем без кавычек - по сути мы создаем переменные с такими названиями и присваиваим им значения (а потом функция dict() уже превратит их в строки).

In [136]:
d2 = dict(кот=10, и=100, Тейлора=2)
print(d2) # получили тот же результат, что выше

{'кот': 10, 'и': 100, 'Тейлора': 2}

И третий способ - передаем функции dict() список списков или кортежей с парами ключ-значение.

In [137]:
d3 = dict([("кот", 10), ("и", 100), ("Тейлора", 2)]) # перечисление (например, список) tuple
print(d3)

{'кот': 10, 'и': 100, 'Тейлора': 2}

Помните, когда мы говорили про списки, мы обсуждали проблему того, что важно создавать именно копию объекта, чтобы сохранять исходный список. Копию словаря можно сделать так

In [138]:
d4 = dict(d3) # фактически, копируем dict который строчкой выше
print(d4)

{'кот': 10, 'и': 100, 'Тейлора': 2}

In [139]:
d1 == d2 == d3 == d4 # Содержание всех словарей одинаковое

True

Пустой словарь можно создать двумя способами.

In [140]:
d2 = {} # это пустой словарь (но не пустое множество)
d4 = dict()
print(d2, d4)

{} {}

In [141]:
x = {}
type(x)

dict

## Task #9

Access the value of key ‘history’ from the below

In [196]:
sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}

## Task #10

Write a Python program to convert a tuple to a dictionary.

Input: `[(0, 1), (1, 2), (2, 3)]`

Output: `{0: 1, 1: 2, 2: 3}`

## Task 11

Delete set of keys from a dictionary

In [143]:
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
  
}
keysToRemove = ["name", "salary"]

### Операции со словарями

Как мы уже говорили, словари неупорядоченные структуры и обратиться по индексу к объекту уже больше не удастся.

In [144]:
#d1[1] # выдаст ошибку во всех случах кроме того, если в вашем словаре вдруг есть ключ 1

Но можно обращаться к значению по ключу.

In [145]:
d3 = dict([("кот", 10), ("и", 100), ("Тейлора", 2)])
print(d1['кот'])

10

Можно создать новую пару ключ-значение. Для этого просто указываем в квадратных скобках название нового ключа.

In [146]:
d1[1] = 'test'
print(d1[1]) # теперь работает!

test

Внимание: если элемент с указанным ключом уже существует, новый с таким же ключом не добавится! Ключ – это уникальный идентификатор элемента. Если мы добавим в словарь новый элемент с уже существующим ключом, мы просто изменим старый – словари являются изменяемыми объектами.

In [147]:
d3 = dict([("кот", 10), ("и", 100), ("Тейлора", 2)])
d1["кот"] = 11 # так же как в списке по индексу - можно присвоить новое значение по ключу
d1

{'кот': 11, 'и': 100, 'Тейлора': 2, 1: 'test'}

In [148]:
d1["кот"] += 1 # или даже изменить его за счет арифметической операции
d1

{'кот': 12, 'и': 100, 'Тейлора': 2, 1: 'test'}

А вот одинаковые значения в словаре могут быть.

In [149]:
d1['собака'] = 13
print(d1)

{'кот': 12, 'и': 100, 'Тейлора': 2, 1: 'test', 'собака': 13}

## Task 12

Count frequency for each word in a given text

In [150]:
text = """the outbreak of coronavirus disease 2019 ( COVID - 19 ) has created a global health crisis that has had a deep impact on the way we perceive our world and our everyday lives . Not only the rate of contagion and patterns of transmission threatens our sense of agency , but the safety measures put in place to contain the spread of the virus also require social distancing by refraining from doing what is inherently human , which is to find solace in the company of others . Within this context of physical threat , social and physical distancing , as well as public alarm , what has been ( and can be ) the role of the different mass media channels in our lives on individual , social and societal levels ? Mass media have long been recognized as powerful forces shaping how we experience the world and ourselves . This recognition is accompanied by a growing volume of research , that closely follows the footsteps of technological transformations ( e . g . radio , movies , television , the internet , mobiles ) and the zeitgeist ( e . g . cold war , 9 / 11 , climate change ) in an attempt to map mass media major impacts on how we perceive ourselves , both as individuals and citizens . Are media ( broadcast and digital ) still able to convey a sense of unity reaching large audiences , or are messages lost in the noisy crowd of mass self - communication ?"""

Кроме обращения по ключу, можно достать значение с помощью метода .get(). Отличие работы метода в том, что если ключа еще нет в словаре, он не генерирует ошибку, а возвращает объект типа None ("ничего"). Это очень полезно в решении некоторых задач.

In [151]:
d1

{'кот': 12, 'и': 100, 'Тейлора': 2, 1: 'test', 'собака': 13}

In [152]:
print(d1['кот'])

12

In [153]:
print(d1.get("ктоо")) # вернут None

None

Удобство метода .get() заключается в том, что мы сами можем установить, какое значение будет возвращено, в случае, если пары с выбранным ключом нет в словаре. Так, вместо None мы можем вернуть строку Not found, и ломаться ничего не будет:

In [154]:
print(d1.get("ктоо", 'Not found')) # передаем вторым аргументом, что возвращать
print(d1.get("ктоо", False)) # передаем вторым аргументом, что возвращать

Not found
False

Также со словарями работают уже знакомые нам операции - проверка количества элементов, проверка на наличие объектов.

In [155]:
d1

{'кот': 12, 'и': 100, 'Тейлора': 2, 1: 'test', 'собака': 13}

In [156]:
print(d1)
print("кот" in d1) # проверка на наличие ключа
print("ктоо" not in d1) # проверка на отстуствие ключа

{'кот': 12, 'и': 100, 'Тейлора': 2, 1: 'test', 'собака': 13}
True
True

Удалить отдельный ключ или же очистить весь словарь можно специальными операциями.

In [157]:
del d1["кот"]

In [158]:
d1

{'и': 100, 'Тейлора': 2, 1: 'test', 'собака': 13}

In [159]:
d1.clear()
d1

{}

In [160]:
d1 = dict([("кот", 10), ("и", 10), ("Тейлора", 2)])

У словарей есть три метода, с помощью которых мы можем сгенерировать список только ключей, только значений и список пар ключ-значения (на самом деле там несколько другая структура, но ведет себя она очень похоже на список).

In [161]:
print(d1.values()) # только значения
print(d1.keys()) # только ключи
print(d1.items()) # только ключ-значение

dict_values([10, 10, 2])
dict_keys(['кот', 'и', 'Тейлора'])
dict_items([('кот', 10), ('и', 10), ('Тейлора', 2)])

Ну, и раз уж питоновские словари так похожи на обычные, давайте представим, что у нас есть словарь, где все слова многозначные. Ключом будет слово, а значением ‒ целый список.

In [162]:
my_dict = {'swear' : {'swear' : ['клясться', 'ругаться'], 'dream' : ['спать', 'мечтать']}, 'dream' : ['спать', 'мечтать']}

По ключу мы получим значение в виде списка:

In [163]:
my_dict['swear']['swear'][0]

'клясться'

Так как значением является список, можем отдельно обращаться к его элементам:

Можем пойти дальше и создать словарь, где значениями являются словари! Например, представим, что в некотором сообществе проходят выборы, и каждый участник может проголосовать за любое число кандидатов. Данные сохраняются в виде словаря, где ключами являются имена пользователей, а значениями – пары *кандидат-голос*.

In [164]:
votes = {'user1': {'cand1': '+', 'cand2': '-'},
         'user2' : {'cand1': 0, 'cand3' : '+'}} # '+' - за, '-' - против, 0 - воздержался

In [165]:
votes

{'user1': {'cand1': '+', 'cand2': '-'}, 'user2': {'cand1': 0, 'cand3': '+'}}

По аналогии с вложенными списками по ключам мы сможем обратиться к значению в словаре, который сам является значением в `votes` (да, эту фразу нужно осмыслить):

In [166]:
votes['user1']['cand1'] # берем значение, соответствующее ключу user1, в нем – ключу cand1

'+'

In [167]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict3 = dict1.copy()
dict3.update(dict2)
print(dict3)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [168]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict3 = {**dict1, **dict2}
print(dict3)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

Через занятие мы с вами начнем работать с условными операторами и циклом for, и тогда мы поговорим об особенностях обращения к значениям в цикле и сортировок словарей.

# Home tasks

## Task #1

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to `1`.

For example: calculate the factorial of `5`

`5! = 5 × 4 × 3 × 2 × 1 = 120`

In [197]:
n = 5
a = 1
for i in range(n, 1, -1):
    a *= i
a

120

## Task #2

Write a program to calculate the sum of series up to n term. For example, if `n = 5` the series will become `2 + 22 + 222 + 2222 + 22222 = 24690`

In [200]:
n = 5
a = 0
numb = 2
for i in range(n):
    a += int(str(numb)*(i+1))
a

24690