
## Последовательности: списки и кортежи

# Списки (`list`)

Давайте представим, что при написании программы нам нужно работать, например, с большой базой данных студентов университета.

Если студентов несколько сотен, нет смысла создавать для каждого отдельную переменную - нам нужно научиться сохранять их всех в одной переменной. Начиная с этого занятия, мы будем изучать типы данных, которые позволяют это делать.

Начнем мы со **списков**. Если вы изучали другие языки программирования, то наверняка знакомы с аналогичным типом данных - массивами. Как и строки, списки - это последовательности, упорядоченные данные.

Давайте для начала попробуем создать список из 3 студентов.

In [97]:
students = ['Ivan Ivanov', 'Tatiana Sidorova', 'Maria Smirnova']
print(students)
print(type(students))

['Ivan Ivanov', 'Tatiana Sidorova', 'Maria Smirnova']
<class 'list'>

Пустой список можно создать двумя способами - оператором `[]` и функцией `list()`.

In [98]:
print([])
print(list())

[]
[]

In [99]:
a = list()
a

[]

Список может содержать любые данные - например, числа.  
Давайте создадим список оценок студента.

In [100]:
notes = [6, 5, 7, 5, 8]
print(notes)

[6, 5, 7, 5, 8]

Список может быть даже смешанным. Например, давайте сохраним в одном списке имя студента, его год рождения, средний балл, и логическую переменную, которая будет равна True, если студент учится на бюджете.

In [101]:
student1 = ['Ivan Ivanov', 1987, 7.5, True]
print(student1)

['Ivan Ivanov', 1987, 7.5, True]

Список может даже содержать другие списки.  
Давайте создадим еще одного студента по аналогии со student1 и положим этих двух студентов в еще один список.

In [102]:
student2 = ['Maria Smirnova', 1991, 7.9, False]
students = [student1, student2]
print(students)

[['Ivan Ivanov', 1987, 7.5, True], ['Maria Smirnova', 1991, 7.9, False]]

Элементы списков нумеруются, начиная с `0`. Мы можем получить доступ к элементу списка по его индексу.

In [103]:
students = ['Ivan Ivanov', 'Tatiana Sidorova', 'Maria Smirnova']
print(students[0]) # первый элемент
print(students[1]) # второй элемент
print(students[-2]) # последний элемент

Ivan Ivanov
Tatiana Sidorova
Tatiana Sidorova

Ксати, индексация работает и в строках. Там отдельными элементами являются символы.

In [104]:
x = 'слово'
print(type(x))
print(type(x[0]))
print(x[-1])

<class 'str'>
<class 'str'>
о

Мы можем узнать длину списка с помощью функции len() (работает и для строк).

In [105]:
print(len(students)) # количество элементов в списке students
print(len(x)) # количество символов в строке x

3
5

Но, в отличие от строк, список можно изменить.

In [106]:
students = ['Ivan Ivanov', 'Tatiana Sidorova', 'Maria Smirnova']
students

['Ivan Ivanov', 'Tatiana Sidorova', 'Maria Smirnova']

In [107]:
students[0] = 'Ian Pile'
students

['Ian Pile', 'Tatiana Sidorova', 'Maria Smirnova']

Строки - неизменяемый тип данных, поэтому присвоение символа по индексу не сработает.

Еще одна операция, которая работает со всеми последовательностями - проверка на наличие элемента `in` и `not in`. Возвращает `True` или `False`.

In [108]:
# students = ['Ivan Ivanov', 'Tatiana Sidorova', 'Maria Smirnova']
# print('Ivan Ivanov' not in students)

n = [1,2,3,4]
x = 500
x not in n
# print('Petr' not in students[2])
# print(2 in students)

True

Способ расширить список - метод `.append()`, который добавляет аргумент в список в качестве последнего элемента.

In [109]:
lst = [0, 1, 2, 3, 4, 'cat', 'dog','cat']

lst.append(5)
print(lst)


lst += [6] # эквивалентное append выражение
print(lst)

[0, 1, 2, 3, 4, 'cat', 'dog', 'cat', 5]
[0, 1, 2, 3, 4, 'cat', 'dog', 'cat', 5, 6]

## Task #1

Write a Python program to sum (*multiply) all int/float-items in a list. 

In: `[1, 2, 3, 4, 5, 'one', 'two']`

Out: `15`

In [110]:
a = [1, 2, 3, 4, 5, 'one', 'two']
sum = 0
for i in range (len(a)):
    if type(a[i]) == int or type(a[i]) == float:
        sum += a[i]
sum

15

## Task #2
Write a Python program to remove duplicates from a list.

In [111]:
a = [1, 2, 2, 4, 3, 4, 5, 'one', 'two']
set(a)

{1, 2, 3, 4, 5, 'one', 'two'}

## Task #3
Write a Python program to generate a `3*4*6` 3D array whose each element is `*`

In [112]:
#не поняла задание

## Task #4

Write a Python program to change the position of every n-th value with the (n+1)th in a list. Go to the editor


Sample list: `[0,1,2,3,4,5]`

Expected Output: `[1, 0, 3, 2, 5, 4]`

In [113]:
a = [0,1,2,3,4,5]
for i in range (0, len(a)-1, 2):
    a[i], a[i+1] = a[i+1], a[i]
a

[1, 0, 3, 2, 5, 4]

Удалить элемент из списка можно с помощью метода `.remove()` (без возвращения удаленного элемента) или `.pop()` (с возвращением удаленного элемента).

In [114]:
lst.remove('cat') # аргумент - объект, который ходим удалить
print(lst)

[0, 1, 2, 3, 4, 'dog', 'cat', 5, 6]

In [115]:
x = lst.pop(0) # аргумент - индекс объекта. Результат операции можно сохранить в переменную
print(lst)
print(x)

[1, 2, 3, 4, 'dog', 'cat', 5, 6]
0

Поиском в списках занимается метод `.index()`, который вернет индекс объекта, переданного в качестве аргумента.

In [116]:
lst.append('dog')

In [117]:
lst

[1, 2, 3, 4, 'dog', 'cat', 5, 6, 'dog']

In [118]:
print(lst.index('dog'))

4

In [119]:
print(lst.count('dog'))

2

In [120]:
# находим индекс объекта 'dog'
print(lst[lst.index('dog')]) # используем метод, возвращающий индекс, для обращения к объекту

dog

Если говорить еще о полезных методах, то это `.count()`, который подсчитывает количество элементов и `.reverse()`, который разворачивает список. Ниже еще отдельно поговорим о сортировке.

In [121]:
b = [1,2,3,4,5]
b.reverse()
b

[5, 4, 3, 2, 1]

In [122]:
 # считаем количество 'dog' в списке
lst.reverse() # разворачиваем список. Осторожно - метод меняет список!
print(lst)

['dog', 6, 5, 'cat', 'dog', 4, 3, 2, 1]

Все методы списков [здесь](https://docs.python.org/3/tutorial/datastructures.html)

### Сортировки

Отдельно следует рассказать про метод **`sort()`**. Метод производит сортировку списка.
Задачи сортировки - очень распространены в программировании. 
В общем случае, они сводятся к выстроению элементов списка в заданном порядке.
В `Python` есть встроенные методы для сортировки объектов для того, чтобы программист 
мог не усложнять себе задачу написанием алгоритма сортировки. 
Метод **`list.sort()`** - как раз, один из таких случаев.

In [123]:
test_list = [5, 8, 1, 4, 3, 7, 2]
print(test_list)  # Элементы списка расположены в хаотичном порядке
test_list.sort()
print(test_list)  # Теперь элементы списка теперь расположены по возрастанию

[5, 8, 1, 4, 3, 7, 2]
[1, 2, 3, 4, 5, 7, 8]

In [124]:
test_list.sort(reverse = True)

In [125]:
test_list

[8, 7, 5, 4, 3, 2, 1]

Таким образом, метод **`list.sort()`** упорядочил элементы списка test_list
Если нужно отсортировать элементы в обратном порядке, то можно использовать именнованный параметр reverse.

In [126]:
test_list.sort(reverse=True)  # параметр reverse указывает на то, что нужно отсортировать список в обратном порядке
print(test_list)

[8, 7, 5, 4, 3, 2, 1]

Следует обратить внимание, что метод **`list.sort()`** изменяет сам список, на котором его вызвали. 
Таким образом, при каждом вызове метода "**`sort()`**", наш список `test_list` изменяется. 
Это может быть удобно, если нам не нужно держать в памяти исходный список. 
Однако, в противном случае, или же - в случае неизменяемого типа данных (например, кортежа или строки) - 
этот метод не сработает. В таком случае, на помощь приходит встроенная в питон функция **`sorted()`**

In [127]:
print(sorted(test_list))  # Сам список при сортировке не изменяется

[1, 2, 3, 4, 5, 7, 8]

In [128]:
test_list

[8, 7, 5, 4, 3, 2, 1]

Так как `sorted()` функция, а не метод, то будет работать и с другими типами данных.

In [129]:
print(sorted('something'))

['e', 'g', 'h', 'i', 'm', 'n', 'o', 's', 't']

In [130]:
# print(sorted('something')) отсортирует буквы в строке, но выведет список
print(''.join(sorted('something'))) # с помощью метода join можно собрать отсортированную строку, чуть ниже подробнее про него

eghimnost

У функции `sorted()`, как и у метода `list.sort()` есть параметр `key`, 
с помощью которого можно указать функцию, которая будет применена к каждому элементу 
последовательности при сортировке.

In [131]:
test_string = 'A string With upper AND lower \n cases'

In [132]:
print(sorted(test_string.split())) # заглавные буквы получили приоритет над строчными

['A', 'AND', 'With', 'cases', 'lower', 'string', 'upper']

In [133]:
'aa546327'.upper()

'AA546327'

In [134]:
print(sorted(test_string.split(), key=str.upper)) # все буквы были приведены к верхнему регистру, сортировка получилась по алфавиту

['A', 'AND', 'cases', 'lower', 'string', 'upper', 'With']

# Кортежи (tuple)

Кортежи очень похожи на списки.

In [135]:
student = ('Ivan Ivanov', 2001, 7.5, True)
print(student)
print(type(student))

('Ivan Ivanov', 2001, 7.5, True)
<class 'tuple'>

Пустой кортеж можно создать с помощью оператора () либо функции tuple.

In [136]:
print(())
print(tuple())

()
()

In [137]:
x = tuple()
x

()

In [138]:
student

('Ivan Ivanov', 2001, 7.5, True)

Основное отличие кортежей от списков состоит в том, что кортежи нельзя изменять (да-да, прямо как строки).

Списки и кортежи могут быть вложены друг в друга.  
Например, пусть в информации о студенте у нас будет храниться не его средний балл, а список всех его оценок.

In [139]:
student = ('Ivan Ivanov', 2001, [8, 7, 7, 9, 6], True)
print(student)

('Ivan Ivanov', 2001, [8, 7, 7, 9, 6], True)

In [140]:
student = ('Ivan Ivanov', 2001, (8, 7, 7, 9, 6), True)
print(student)

('Ivan Ivanov', 2001, (8, 7, 7, 9, 6), True)

Мы можем обратиться к элементу вложенного списка или кортежа с помощью двойной индексации.

In [141]:
student

('Ivan Ivanov', 2001, (8, 7, 7, 9, 6), True)

In [142]:
print(student[2][1]) # получили вторую оценку

7

Иногда бывает полезно обезопасить себя от изменений массивов данных и использовать кортежи, но чаще всего мы все-таки будем работать со списками.

# Task #5

Write a Python program to add an item in a tuple.

# Task #6

Write a Python program to sort a tuple by its float element.

Sample data: `[('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]`

Expected Output: `[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]`

# Task #7

Write a Python program to compute element-wise sum of given tuples.

Original lists:

`(1, 2, 3, 4)
(3, 5, 2, 1)
(2, 2, 3, 1)`

Element-wise sum of the said tuples:

`(6, 9, 8, 6)`

# Опасность работы с изменяемыми типами данных

В работе со списками есть важный момент, на который нужно обращать внимание. Давайте рассмотрим такой код:

In [143]:
a = [1, 2, 3]

In [144]:
b = a

In [145]:
b[0] = 4

In [146]:
print(a)
print(b)

[4, 2, 3]
[4, 2, 3]

Почему так происходит?  
Дело в том, что переменная a ссылается на место в памяти, где хранится список [1, 2, 3]. И когда мы пишем, что `b = a`, `b` начинает указывать на то же самое место. То есть образуется два имени для одного и того же кусочка данных. И после изменения этого кусочка через переменную `b`, значение переменной `a` тоже меняется!

Как это исправить? Нужно создать копию списка a! В этом нам поможет метод `.copy()`

In [147]:
a = [1, 2, 3]
b = a.copy() # теперь переменная b указывает на другой список, который хранится в другом кусочке памяти
b[0] = 4
print(a, b)

[1, 2, 3] [4, 2, 3]

Копию можно создавать и с помощью пустого среза

In [148]:
a = [1, 2, 3]
b = a[:] # по умолчанию берется срез от первого элемента до последнего, то есть копируется весь список a
b[0] = 4
print(a, b)

[1, 2, 3] [4, 2, 3]

In [149]:
a = [1, 2, 3]

Но не путайте изменение с присваиванием!

In [150]:
a = [1, 2, 3]

In [151]:
b = a

In [152]:
a = [4,5,6]

In [153]:
print(a)

[4, 5, 6]

In [154]:
print(b)

[1, 2, 3]

В примере выше переменная a была не изменена, а перезаписана, она начала указывать на другой список, хранящийся в другом месте памяти, поэтому переменная b осталась нетронута.

### Конкатенация списков и кортежей

На списках и кортежах определен оператор +. По аналогии со строками, он будет склеивать две части выражения.

Но складывать можно только данные одного типа, список с кортежом склеить нельзя.

In [155]:
print([1, 2] + [3, 4])
print((1, 2) + (3, 4))

[1, 2, 3, 4]
(1, 2, 3, 4)

In [156]:
[1,2] *2

[1, 2, 1, 2]

In [157]:
print((1, 2) + [3, 4]) # а так нельзя

TypeError: ignored

Но можно превратить список в кортеж, а потом сложить (или наоборот).

In [158]:
print(list((1, 2)) + [3, 4])
print((1, 2) + tuple([3, 4]))

[1, 2, 3, 4]
(1, 2, 3, 4)

In [159]:
x = tuple()
x

()

# Методы .split(), .join(),  функция map(), вывод и ввод списков

При работе со списками довольно часто нам придется вводить их и выводить в отформатированном виде. Сейчас мы рассмотрим несколько методов, которые помогут сделать это в одну строку.

### Метод .split()

Метод строки .split() получает на вход строку-разделитель и возвращает список строк, разбитый по этому разделителю.

По умолчанию метод разбивает строку по пробелу

In [160]:
print('Hello darkness my old friend     !#$@%$^#         bhfdsajklfgdsajk'.split())

['Hello', 'darkness', 'my', 'old', 'friend', '!#$@%$^#', 'bhfdsajklfgdsajk']

In [161]:
print('Ночь. Улица. Фонарь. Аптека'.split('. '))

['Ночь', 'Улица', 'Фонарь', 'Аптека']

### Метод .join()

Метод .join() ведет себя с точностью до наоборот - он склеивает массив в строку, вставляя между элементами строку-разделитель.

In [162]:
print('-'.join(['8', '800', '555', '35', '35']))

8-800-555-35-35

In [ ]:
'-' + 4

### Функция map()

Функция map() берет функцию и последовательность и применяет эту функцию ко всем ее элементам (map() всегда будет ожидать от вас два аргумента).

Обратите внимание, чтобы увидеть результат работы этой функции надо дополнительно вручную преобразовать в список (или в кортеж, в зависимости от ваших целей).

In [164]:
print(map(bool, [9, 0, 8, -288, 998, 0])) # не совсем то, что надо
print(list(map(bool, [9, None, 8, -288, 998, 0]))) # а теперь работает, каждое число преобразовалось в логическую переменную

<map object at 0x7fd5e3970520>
[True, False, True, True, True, False]

### Ввод и вывод списков

Теперь мы можем быстро вводить и выводить списки, содержащие разные данные через разные разделители.

In [165]:
phone = input().split() # получаем строку, разбиваем по пробелу, сразу преобразуем все элементы в числа
print(phone)
print('-'.join(phone)) # преобразуем массив чисел в массив строк и склеиваем через дефис

8 999 999 9 9
['8', '999', '999', '9', '9']
8-999-999-9-9

Также, если нет задачи сохранить результат в переменную в виде строки, вместо join() можно использовать распаковку. 
Мы ставим оператор * перед списком, и, например, функция print() будет воспринимать его не как список, а как последовательность объектов.

In [166]:
print(phone, sep='-') # не работает, получили список
print(*phone, sep='-') # теперь сработало. По сути, распакованный список питон видит как в примере ниже
print(phone[0], phone[1], phone[2], phone[3], phone[4], sep='-')

['8', '999', '999', '9', '9']
8-999-999-9-9
8-999-999-9-9

# Home Tasks

## Task #1

Write a Python program to get the difference between the two lists. 

*Example 1.*

In: `[1, 2, 3]` `[2, 2, 3]`

Out: 

`Elements with index 0 are defferent: list1[0]: 1, list2[0]: 2`

*Example 2.*

In: `[1, 2, 3, 5]` `[2, 2, 3, 6]`

Out: 

`Elements with index 0 are defferent: list1[0]: 1, list2[0]: 2`

`Elements with index 3 are defferent: list1[3]: 5, list2[3]: 6`

In [169]:
a = input().split()
b = input().split()

for i in range (0, len(a), 3):
    if a[i] == b[i]:
        print('Elements with index ', i,' are same: list1[', i,']: ', a[i],', list2[', i, ']: ', b[i], sep = '')
    else: print('Elements with index ', i,' are defferent: list1[', i,']: ', a[i],', list2[', i, ']: ', b[i], sep = '')

1 2 3 5
2 2 3 6
Elements with index 0 are defferent: list1[0]: 1, list2[0]: 2
Elements with index 3 are defferent: list1[3]: 5, list2[3]: 6