# 0. Наибольший общий делитель - 1 балл
Напишите функцию, которая на вход принимает два целых числа, а на выходе отдает их наибольших общий делитель. 

Пример

Ввод 

`lcd(10,2)`

Вывод

`2`

Пример

Ввод 

`lcd(10,25)`

Вывод

`5`

In [15]:
def lcd(a,b):
    a1 = [x for x in range (1,a+1) if a%x == 0]
    b1 = [x for x in range (1,b+1) if b%x == 0]
    result=list(set(a1) & set(b1))
    return max(result)

In [17]:
print(lcd(10,2))
print(lcd(10,25))

2
5

# 1. Задачка про перевод из `camel_case`'a в `snake_case` - 1.5 балла
 Напишите функцию, которая на вход принимает строку, записанную в `CamelCase`, а переводит ее в `snake_case`.
 Подсказка: идите по строке циклом, обрабатывайте каждый символ, если символ заглавный, к обработанным ранее добавляйте нижнее подчеркивание и нынешний переводите в `lower case` 
 
 Пример:

**Вход**: `'camelCaseVar'`

**Выход**: `'camel_сase_var'`

In [42]:
def lower_case(a):
    for i in range(len(a)-1,-1,-1):
        if a[i].islower() == False:
            a = a[:i]+'_'+a[i:]
    a = a.lower()
    return a

In [44]:
lower_case('camelCaseVar')

'camel_case_var'

# 2. Про Поросёнка Петра - 2 балла
На плоскости в точке `(0,0)` стоит Поросёнок Пётр. Он умеет ходить налево, направо, вверх и вниз. Расстояние его прохода в какую-либо сторону измеряется в шагах. Когда он идет вправо, его первая координата увеличивается, когда влево - уменьшается. Когда он идет вверх, его вторая координата увеличивается, а когда вниз - уменьшается.
С клавиатуры считывается число `N` - число ходов, которые сделает Пётр. После чего на каждом шаге спрашивается, сколько шагов и в какую сторону за этот ход Пётр сделает. Так происходит, пока Пётр не осуществит все N ходов.
Программа должна вывести, сколько шагов Пётр должен был бы сделать, чтобы кратчайшим путем прибыть из свое начальной точки `(0,0)` в свою конечную точку. 

Напоминание: Пётр умеет ходить только вверх-вниз, и влево-вправо, но не по диагонали.

Пример ввода:

Введите N: `3`

Ход 1: `Вверх 1`

Ход 2: `Вниз 1`

Ход 3: `Вверх 1`

Пример вывода:
`Пётр находится на расстоянии 1 от (0,0)`

In [59]:
N = int(input("Введите N: "))
a = [0,0]
for i in range (N):
    print("Ход", i, ":")
    s = input()
    h,k = s.split(' ')
    if h == 'Вверх':
        a[1] += int(k)
    elif h == 'Вниз':
        a[1] -= int(k)        
    elif h == 'Влево':
        a[0] -= int(k)        
    elif h == 'Вправо':
        a[0] += int(k)   
res = ((a[0])**2+(a[1])**2)**0.5
print('Пётр находится на расстоянии', res, 'от (0,0)')

Введите N: 2
Ход 0 :
Вверх 1
Ход 1 :
Вправо 1
Пётр находится на расстоянии 1.4142135623730951 от (0,0)

# 3. Sort the keys of the dictionary from a to z.  - 0.5 балла

In [64]:
d = {"tiramisu":5, "chocolate":2, "pudding":3, "cheesecake":4}
print(sorted(d.items()))

[('cheesecake', 4), ('chocolate', 2), ('pudding', 3), ('tiramisu', 5)]

# 4. Compare three values, return true only if 2 or more values are equal - 0.5 балла

In [68]:
def sravn (a,b,c):
    i = 0
    if a == b:
        i += 1
    if a == c:
        i += 1
    if c == b:
        i += 1   
    if i >= 1:
        return True

In [69]:
print(sravn (2,3,2))

True

# 5. Given a list with pairs, sort on the sum of pairs - 0.5 балла

In [73]:
x = [(3,6),(4,7),(5,9),(8,4),(3,1)]

# 6. Create a function that takes a list of numbers. Return the largest number in the list. - 0.5 балла

In [75]:
def findLargestNum(a):
    return(max(a))

In [77]:
findLargestNum([300, 200, 600, 150])

600

In [79]:
findLargestNum([4, 5, 1, 3]) == 5

findLargestNum([300, 200, 600, 150]) == 600

findLargestNum([1000, 1001, 857, 1]) == 1001

True

# 7. Create a function that takes a string and returns the concatenated first and last character. - 0.5 балла

In [78]:
def repetition(a, b):
    return a*b

In [80]:
repetition("ab", 3)

'ababab'

In [81]:
repetition("ab", 3) == "ababab"

repetition("kiwi", 1) == "kiwi"

repetition("cherry", 2) == "cherrycherry"

True

# 8. Create a function that takes a 2D list lst returns the sum of the minimum value in each row. - 0.5 балла

In [90]:
def sum_minimums(a):
  res = 0
  for i in range(len(a)):
      res += min(a[i])
  return res

In [91]:
sum_minimums([
  [1, 2, 3, 4, 5],
  [5, 6, 7, 8, 9],
  [20, 21, 34, 56, 100]
])

26

In [ ]:
sum_minimums([
  [1, 2, 3, 4, 5],
  [5, 6, 7, 8, 9],
  [20, 21, 34, 56, 100]
] ➞ 26

# minimum value of the first row is 1
# minimum value of the second row is 5
# minimum value of the third row is 20

# 9. Create a function to return the amount of potatoes there are in a string. - 0.5 балла

In [112]:
def potatoes(a):
    return int((len(a) - len(a.replace('potato','')))/(len('potato')))

In [113]:
potatoes("potatoapple")

1

In [115]:
potatoes("potato") == 1 and potatoes("potatopotato") == 2 and potatoes("potatoapple") == 1

True

# 10. Create a function that takes a list of integers as an argument and returns a unique number from that list. All numbers except unique ones have the same number of occurrences in the list. - 0.5 балла

In [131]:
def find_single_number(data):
    return [i for i in data if data.count(i) == 1][0]

In [133]:
find_single_number([7, 13, 3, 6, 5, 4, 4, 13, 5, 3, 6, 7, 6, 5, 3, 13, 4, 7, 13, 5, 7, 4, 3, 6, 8, 4, 3, 7, 5, 6, 13])

8

In [ ]:
find_single_number([2, 2, 2, 3, 4, 4, 4]) ➞ 3

find_single_number([2]) ➞ 2

find_single_number([]) ➞ None

find_single_number([7, 13, 3, 6, 5, 4, 4, 13, 5, 3, 6, 7, 6, 5, 3, 13, 4, 7, 13, 5, 7, 4, 3, 6, 8, 4, 3, 7, 5, 6, 13]) ➞ 8

find_single_number([1, 2, 3, 6, 5, 4, 4, 2, 5, 3, 6, 1, 6, 5, 3, 2, 4, 1, 2, 5, 1, 4, 3, 6, 101, 4, 3, 1, 5, 6, 2]) ➞ 101

# 11. Given a letter and a list of words, return whether the letter does not appear in any of the words. - 0.5 балла

In [183]:
def forbidden_letter(a, b):
    res = True
    for i in range (len(b)):
        if a in b[0]:
            res = False
    return res

In [185]:
forbidden_letter("a", ["spoon", "fork", "knife"])

True

In [ ]:
forbidden_letter("r", ["rock", "paper", "scissors"]) ➞ False

forbidden_letter("a", ["spoon", "fork", "knife"]) ➞ True

forbidden_letter("m", []) ➞ True

# 12.  Define a function which create a Pattern like this one.  - 2 балла

In [ ]:
Input: 4
Pattern:

 01234
  | |     0
 -----    1
  | |     2
 -----    3
  | |     4

In [201]:
a = int(input('Input: '))
print('Pattern: \n')
for k in range(a + 1):
    print(k, end='')
print()
for j  in range(a + 1):
    if j % 2 == 0:
        for i in range(a + 1):
            if i % 2 == 0:
                print(' ', end='')
            else: print('|', end='')
    else: print('-'*(a + 1), end='')
    print("    ", j)

Input: 4
Pattern:

01234
 | |      0
-----     1
 | |      2
-----     3
 | |      4

# 13. Create a function that takes three numbers as arguments and returns True if it's a triangle and False if not.  - 0.5 балла

In [209]:
def is_triangle(a, b, c):
    return a+b+c-max(a,b,c)-min(a,b,c) > max(a,b,c)-min(a,b,c)

In [212]:
is_triangle(4, 3, 8)

False

In [ ]:
is_triangle(2, 3, 4) ➞ True

is_triangle(3, 4, 5) ➞ True

is_triangle(4, 3, 8) ➞ False

# 14. Create a "Code" Generator that takes text as input and replaces some letter with another letter, and outputs the "encoded" message. Create funcs to encode and decode messages

In [213]:
replacement = {"a": "b", "d": "1" ......}

SyntaxError: ignored